html, body{
    margin:0;
    padding:0;
    height: 100%;
    
}

body{
    color:blue;
    display: grid;
    grid-template-columns: minmax(min-content, 25vw) 1fr;
    grid-template-rows: minmax(min-content, 15vh) 1fr;
    grid-template-areas:  'sidebar  header'
                          'sidebar  content';
}
    img{
        width: 70%;
        height: 100%;
        border-radius: 75%;
    }
    a{
        color:black;
        text-decoration: none;
    }
    a:hover{
        color:bisque;
    }
    /* a:visited{
        color:brown;
    } */

.header{
    background-color:rgba(32, 32, 156, 0.558);
    color: black;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}


.sidebar{
    background-color:blueviolet;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
    overflow: auto;

}

.item{
    flex: 1;
    background: white;
    padding: 1rem;
    margin:0.5rem;
    height: max-content;
}

.item:hover{
    color: aliceblue;
    background-color: aquamarine;
}

.content{
    background-color: white;
    color: navy;
    grid-area: content;
    padding-left: 6rem;
    padding-right: 4rem;
    padding-top: 2rem;
}

